{% extends "base.html" %}

{% block titulo %}{# TODO: muestra aquí producto.nombre #} - Tienda Virtual{% endblock %}

{% block contenido %}
<div class="detalle-producto">

    {# TODO 1: Muestra la imagen del producto usando:
       <img src="{{ url_for('static', filename=producto.foto) }}" alt="..."> #}

    {# TODO 2: Muestra el nombre del producto en un <h2> #}

    {# TODO 3: Muestra la marca del producto #}

    {# TODO 4: Muestra el SKU del producto #}

    {# TODO 5: Muestra el precio formateado, por ejemplo:
       <p>${{ "{:,.0f}".format(producto.precio) }}</p> #}

    <p><a href="{{ url_for('main.index') }}">&larr; Volver al catálogo</a></p>
</div>
{% endblock %}
